<!-- navbar code  -->
<nav class="navbar navbar-expand-md bg-body-tertiary">
      
    <div class="container-fluid">
      <li class="nav-item toggle__switch">
        <div class="form-check form-switch mx-4">
          <input
            class="form-check-input p-2"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckChecked"
            checked
            onclick="myFunction()"
          />
        </div>
      </li>
      <a class="navbar-brand" href="/">CCW</a>
      
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse d-xxl-flex d-xl-flex d-md-flex d-lg-flex justify-content-end"
        id="navbarNav"
      >
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/franchise">Franchise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>