<div class="container_fluid d-flex flex-column justify-content-center align-items-center p-2">
    <h1>creamy craving waffle</h1>
  <p class="m-2">address of shop blah blah Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi quis eveniet cum provident, reiciendis sunt doloremque impedit tempora? Consequuntur ut fuga animi quas?</p>
  <!-- ifrsams for the google maps starts here-->
  examples of maps locationswe will select one
  <div class="container-fluid d-flex justify-content-center align-items-center m-1"  style="width: 24rem;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18906.129712753736!2d6.722624160288201!3d60.12672284414915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x463e997b1b6fc09d%3A0x6ee05405ec78a692!2sJ%C4%99zyk%20trola!5e0!3m2!1spl!2spl!4v1672239918130!5m2!1spl!2spl" 
    width="600" height="450" style="border:0;" 
    allowfullscreen="" loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  
  <p>second choice</p>
  <div class="ratio ratio-16x9 m-1" style="width: 18rem;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96714.68291250926!2d-74.05953969406828!3d40.75468158321536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2588f046ee661%3A0xa0b3281fcecc08c!2sManhattan%2C%20Nowy%20Jork%2C%20Stany%20Zjednoczone!5e0!3m2!1spl!2spl!4v1672242259543!5m2!1spl!2spl"  
    allowfullscreen="" loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  
  <p>third choice</p>
  <div class="ratio ratio-16x9 m-1" style="width: 24rem;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117996.95037632967!2d-74.05953969406828!3d40.75468158321536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2588f046ee661%3A0xa0b3281fcecc08c!2sManhattan%2C%20Nowy%20Jork%2C%20Stany%20Zjednoczone!5e1!3m2!1spl!2spl!4v1672242444695!5m2!1spl!2spl" 
    allowfullscreen="" loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <a href = "mailto: abc@example.com">abc@example.com</a>
  
  <p>or</p> 
  
  <a href = "mailto:abc@example.com?subject = Feedback&body = Message">
    Send Feedback
    </a>
  
  <p>3rd option</p>
  
  <div class="container d-flex align-items-center justify-content-center flex-column">
    <h1>mail me</h1>
    <a class="m-1" style="text-decoration: none; " href="mailto:abc@gmail.com?cc=CC@gmail.com&bcc=Bcc@gmail.com&subject=Subject%20goes%20here&body=Dear%20Customer%2C%0D%0A%0D%0ALet%20us%20know%20what%20your%20quiries%20are%20and%20our%20team%20will%20get%20back%20to%20you%20as%20soon%20as%20possible%0D%0A%0D%0ABest%20Regards%2C%0D%0ATeam%20CCW">abc@gmail.com</a>
  
  </div>
  <h4 class="m-1">Contact Number</h4>
  <h4 class="m-1">+91 12345678</h4>
  </div>