<div class="container_fluid we__offer d-flex align-items-center justify-content-evenly m-4">
    <%- include('../large_waffle/item2.ejs') %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">waffle bread - vanilla</li>
          <li class="list-group-item">choclate coating - white choclate</li>
          <li class="list-group-item">toping - blue berry </li>
          <li class="list-group-item">sprinkels - whatever</li>
    
        </ul>
        <br>
        <h3 class="d-flex align-items-center justify-content-center">Nutrition information</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"></th>
              <th scope="col">per 100g</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Energy,Kcal</td>
              <td>123</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Total fats,g</td>
              <td>20</td>
            </tr>

            <tr>
              <th scope="row">3</th>
              <td>saturated fats,g</td>
              <td>11</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>trans fats,g</td>
              <td>0.1</td>
            </tr>
           

          </tbody>
        </table>
      </div>
</div>
