<div class="container-fluid we__offer d-flex justify-content-evenly ">


  <%- include('../large_waffle/item1.ejs') %>

    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">waffle bread - vanilla + choclate</li>
        <li class="list-group-item">choclate coating - white choclate</li>
        <li class="list-group-item">toping - blue berry </li>
        <li class="list-group-item">sprinkels - abcdefgh</li>
  
      </ul></div>
  
  </div>

  