
<a href="/card_description/item6" style="text-decoration: none;"><div class="card" style="width: 18rem;">
  <img src="/img/images/default.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">item 6</h5>
    <p class="card-text">short description blah blah Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, nulla!</p>
    
  </div>
</div></a>
